%h1 Admin Dashboard


%fieldset
  .form-title Add a Dish
  = form_for @dish do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :home_country
      = f.collection_select(:destination_id, @destinations, :id, :name)
    .field
      = f.label :image
      = f.text_field :image
    .field
      = f.label :price
      = f.text_field :price
    .field
      = f.submit


