.navbar.navbar-default
  .container-fluid
    .navbar-header.pull-right
      = link_to "menu", dishes_path
      = link_to "cart", cart_path
      = link_to "destinations", destinations_path
      = link_to "about", about_path
      = link_to "blog", news_path
