.container-fluid.featured-dishes
  .row
    - @dishes.each do |dish|
      = link_to dish do
        .dish-panel.img-thumbnail.col-md-4.col-sm-6.col-xs-12
          .dish-header
            = dish.destination.name
          = image_tag(dish.image, class: 'dish_image')
          .dish-info
            = dish.name
            %br
            = dish.description

