%h1
  Destinations

- @destinations.each do |destination|
  = link_to destination do
    .container-fluid
      = image_tag("#{destination.image}", class: "hero-image")
      %div
        = destination.name
      %div
        = destination.description