<header class="hero-background #{@destination.name.downcase}-hero img-responsive">
.container-fluid
  .row
    .hero-intro-blurb
      %h1
        = "#{@destination.name}"
      %p
        = "Custom blurb about #{@destination.name}"
