<header class="hero-background #{hero_image_class} img-responsive">
.container-fluid
  .row
    .hero-intro-blurb
      %h1
        = "#{@destination.name}"
      %p
        = "Explore #{@destination.name}"

.container-fluid
  .row
    - @dishes.each do |dish|
      = dish.name

