!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SugarKaneBay
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "data-controller-#{controller_name} data-action-#{action_name}"}
    #app-navigation
      = render 'shared/branding_bar'
      = render 'shared/main_navigation_bar'
      = render 'shared/message_system'
    #app-container
      = yield
    = render 'shared/footer'